.main-box {
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  background-color: #f4f7fd;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.box .boxi {
  padding: 1rem;
  width: 25%;
  max-width: 45%;
  margin: 0.5rem;
  box-sizing: border-box;
}

.box .boxi p {
  margin: 0;
  color: #000;
}

@media (max-width: 768px) {
  .boxi {
    width: 45% !important;
  }
}
